
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-overflow-style: none;
}

body{
	font-size: 16px;
	background-color: #000;;
	color: #fff;
	font-family: 'BW Modelica', sans-serif;
}
::-webkit-scrollbar {
	display: none;
}

hr {
  border: 1px solid #1a1818;
}